<!DOCTYPE html>
<html>
  <head>
    <title>PixelPx</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.image = "<%= image_url('network.jpg') %>"
    </script>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Orbitron');
    </style>


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">



    <style>
    @import url('https://fonts.googleapis.com/css?family=Comfortaa');
    </style>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">


    <style>
    @import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
    </style>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png', :style => "width: 50" %>
  </head>

  <body>
    <%= yield %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
  </body>
</html>
